/* Print Page Styles */
table.page {
    page-break-after: always;
    break-before: always;
    padding: 0px;
    border-collapse: collapse;
    margin: 0px auto;
}

td.sticker {
    width: 5.5in;
    height: 4.2in;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

span {
    display: block;
    padding: 5px;
}

span.description {
    font-size: 44pt;
    font-family: Calibri;
    font-weight: bold;
}
span.itemCode {
    font-size: 40pt;
    font-family: Calibri;
    font-weight: bold;
}

div.expDateLine {
    margin: 100px 50px 0 50px;
    padding-top: 10px;
    border-top: 1px solid black;
}