/* General Style */
table {
    padding: 0px;
    border-collapse: collapse;
    margin: 0px auto;
}

/* Data Entry Styles */
table#dataTable {
    width: 900px;
}
table#dataTable th, table#dataTable td {
    text-align: center;
    border: 1px solid black;
}

/* Print Page Styles */
table.page {
    page-break-after: always;
    break-before: always;
}

td.sticker {
    width: 5.5in;
    height: 4.2in;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

span {
    display: block;
    padding: 5px;
}

span.description {
    font-size: 44pt;
    font-family: Calibri;
    font-weight: bold;
}
span.location {
    font-size: 90pt;
    font-family: Arial;
    font-weight: bold;
}
span.expiration {
    font-size: 60pt;
    font-family: Calibri;
    font-weight: bold;
}